  <div class="modal-header">
    <h2 class="modal-title">Create new room</h2>
  </div>
  <div class="modal-body">
    Room name:<br/>
    <form ng-submit="modal.ok()">
      <div class="input-group animated fadeIn">
        <input type="text" class="form-control finderBar"
        ng-model="modal.name" title="name"
        placeholder="Your room name here" autofocus>
        <h4>{{ modal.name }}</h4>
      </div>
    </form>
  </div>
    <div class="modal-footer">
      <button class='btn btn-success' ng-click="modal.ok()">create room</button>
      <button class= 'btn btn-info' ng-click="modal.cancel()">cancel</button>
    </div>
